 .container {
    width: 1200px;
}

#game {
    margin: auto;
    text-align: left;
    display: inline;
}

.footer .alert {
    text-align: center;
    line-height: 35px;
}

.footer .alert img {
    margin-top: -3px;
    margin-right: 5px;
}

 .column {
     float: left;
     padding: 10px;
     margin: 10px;
     height: 520px; /* Should be removed. Only for demonstration */
     background: #c1e2b3;
     font-family: "Courier New", Courier, monospace;
     overflow: auto;
     width: 300px;
 }

 .item {
     border: 2px solid black;
     margin-top: -2px;
 }

 .row:after {
     content: "";
     display: table;
     clear: both;
 }

h1 {
    margin-top: 5px;
    margin-bottom: 2px;
}

.html5 {
    width: 64px;
    height: 64px;
    display: block;
    float: left;
    margin-right: 10px;
}

.html5 span {
    display: none;
}

h1 strong {
    color: #FF4444;
}

.credits {
    color: gray;
}

.credits a {
    color: gray;
    text-decoration: underline;
}

.credits a:hover {
    color: black;
}

#nameform {
    width: 250px;
    position: absolute;
    left: 45.5%;
    top: 50%;
}

#name {
    width: 100%;
}

#password {
    width: 100%;
}

#RegisterButton {
    float: right;
}

 body {
     background-color: #222222;
 }
 #gagaga {
     font-size: 135px;
     color: #ffff00;
     font-family: "Helvetica";
     position: absolute;
     font-weight: bolder;
     text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #761c19 ;
     -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
     -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
     -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
     transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
     left: 7%;
     top: 20%;
     text-align: center;
 }

 #gagaga:hover {
     text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #fffe15, 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ffff00 ;

 }

 #img1 {
     height: 100px;
     width: 135px;
     position:absolute;
     bottom: 0%;
     right: 42.5%;
     display: none;
 }

 #img2 {
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0%;
     left: 0%;
     display: none;
 }

 #img3 {
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0%;
     left: 0%;
     display: none;
 }